@using Microsoft.AspNet.Identity
@model Library.Models.Book

<title>@Model.Title</title>
<div>
    <img style="height: 300px;" src=@Model.ImagePath alt=@Model.Title> <br />
    @Html.DisplayFor(Item => Model.Title)<br />
    @Html.DisplayFor(Item => Model.Author)<br/>
    Жанр: @Html.DisplayFor(Item => Model.Genre)<br/>
    @if (Model.Holder.IsEmpty())
    {
        <p>В наличии</p>
    }
    else
    {
        <p>Нет в наличии</p>
    }
    @{
        if (!User.Identity.GetUserId().IsEmpty())
        {
            @Html.ActionLink("Удалить книгу", "Delete", new { Id = Model.Id })<br />
        }
    }
    <br />
</div>
